@{
    ViewBag.Title = "Cliente";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Cliente</h1>
    </section>

    <div class="row">
        <section>
            <p><a href="AgregarCliente" class="btn btn-primary btn-md">Agregar cliente &raquo;</a></p>
            <p><a href="Modificacion" class="btn btn-primary btn-md">Modificar información del cliente &raquo;</a></p>
            <p><a href="EliminarCliente" class="btn btn-primary btn-md">Eliminar cliente &raquo;</a></p>
        </section>
    </div>
</main>