@{
    ViewBag.Title = "Eliminar cliente";
}

<html>
<body>
    <div>
        <h3>Eliminar cliente</h3>
        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-danger">@ViewBag.Notificacion</div>
        }
        @using (Html.BeginForm("MostrarClienteEliminado", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td><label> * Cédula:  </label></td>
                    <td><input type="text" name="cedula" pattern="[0-9]+" required oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="" /></td>
                </tr>
                <tr>
                    <td><br /></td>
                    <td></td>
                </tr>
            </table>
            <tr>
                <td><input type="submit" name="enviar" value="Eliminar" /></td>
            </tr>
        }
    </div>
</body>
</html>